@use 'base';
@use 'sass:color';

.DarkModeToggle {
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;

  &:hover {
    background-color: color.scale(black, $lightness: 90%);

    @include base.dark-mode {
      background-color: color.scale(white, $lightness: -90%);
    }
  }
}
