@use 'base';

.Footer {
  a,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
    text-decoration: none;
  }
  color: base.$text-primary-light-color;
  
  &__link {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  background-color: base.$light-mode-accent-color;

  @include base.dark-mode {
    background-color: base.$dark-mode-accent-color;
  }
}
