@use 'base';

.Header {
  display: flex;
  align-content: center;
  justify-content: center;

  padding-top: 2rem;
  padding-bottom: 2 * 2rem;

  color: base.$text-primary-light-color;
  transition: 0.5s;

  background-color: base.$light-mode-accent-color;

  @media (min-width: 768px) {
    padding-top: 5rem;
    padding-bottom: 5 * 2rem;
  }

  @include base.dark-mode {
    background-color: base.$dark-mode-accent-color;
  }
}

.Container {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  padding-bottom: 0.5;
}

span {
  display: flex;
  flex: none;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 200;
}
