@use 'base';
@use 'sass:color';

.NotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  img {
    display: flex;
    align-content: center;
  }
}

.HomeButton {
  background-color: base.$accent-color;
  color: white;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  width: 100%;
  text-align: center;

  &:hover {
    background-color: color.scale(base.$accent-color, $lightness: -20%);
  }
}
