@use 'base';

.Projects {
  color: base.$text-primary-dark-color;

  @include base.dark-mode {
    color: base.$text-primary-light-color;
  }
}

.inactiveTab {
  border-bottom-width: 2px;
  color: base.$text-secondary-light-color;
  border-color: #fff;

  &:hover {
    color: base.$text-tertiary-light-color;
    border-color: #cdcdd7;
  }

  @include base.dark-mode {
    color: base.$text-tertiary-dark-color;
    border-color: #000;

    &:hover {
      color: base.$text-secondary-dark-color;
      border-color: #b2b2bf;
    }
  }
}

.activeTab {
  border-bottom-width: 2px;
  border-color: #0770e3;
  color: #0770e3;

  @include base.dark-mode {
    color: base.$accent-dark-color;
    border-color: base.$accent-dark-color;
  }
}
