@use 'base';

.Project {
  border-color: #cdcdd7;
  @include base.dark-mode {
    border-color: #48484a;
  }

  &__imgButton {
    &:hover {
      background-color: #f1f2f8;
      @include base.dark-mode {
        background-color: #1d1b20;
      }
    }
  }

  &__subText {
    color: base.$text-secondary-light-color;
    @include base.dark-mode {
      color: base.$text-secondary-dark-color;
    }
  }
}
