@use 'base';

.Projects {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: base.$text-primary-dark-color;

  @include base.dark-mode {
    color: base.$text-primary-light-color;
  }
}

.HeadingContainer {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
  }
}

.Tabs {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;

  button {
    text-align: center;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
  }
}

.ProjectsListContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.inactiveTab {
  border-bottom-width: 2px;
  color: base.$text-secondary-light-color;
  border-color: #fff;

  &:hover {
    color: base.$text-tertiary-light-color;
    border-color: #cdcdd7;
  }

  @include base.dark-mode {
    color: base.$text-tertiary-dark-color;
    border-color: #000;

    &:hover {
      color: base.$text-secondary-dark-color;
      border-color: #b2b2bf;
    }
  }
}

.activeTab {
  border-bottom-width: 2px;
  border-color: #0770e3;
  color: #0770e3;

  @include base.dark-mode {
    color: base.$accent-dark-color;
    border-color: base.$accent-dark-color;
  }
}
